body {
	text-align:center;
}
h1,h2 {
	color:#006;
}
h3,h4 {
	color:#339;
}
img.mm {
	height:66px;
	width:78px;
	border:none;
}
.concert {
	margin: 10px 0 20px 0;
}
.blurb {
	margin-top: 4px;
	margin-bottom: 6px;
	font-size: 1.2em;
}
.concert_title {
	color:#036;
	font-size:large;
}
.date {
	color:#808;
	font-weight:bold;
	font-size:medium;
	margin-bottom:10px;
}
.venue {
	color:#000;
	font-weight:bold;
	margin-bottom:10px;
}
.conductor {
	font-style:italic;
	font-weight:bold;
	margin-top:4px;
	margin-bottom:15px;
}
.soloist {
	font-style:italic;
	font-weight:bold;
	margin-top:2px;
	margin-bottom:5px;
}
.items {
	color:#066;
	/*font-size: medium;*/
	font-size: 1.4em;
}
.composer {
	color:#066;
	text-align:right;
	font-weight:bold;
	font-size:medium;
}
.scoring {
	color:#066;
	font-style:italic;
	font-size:small;
}
.author {
	text-align:right;
	font-weight:bold;
	color:#789;
}
.leader {
	/*text-align: center;*/
	font-weight:bold;
	font-style:italic;
	font-size:medium;
}
.rehearsal {
	font-weight:bold;
	text-align:center;
}
.rehearsal_detail {
	font-weight:normal;
}
.rehearsal_date {
	font-weight:bold;
}
.review {
	margin-left: 20px;
}
.tickets {
	/*text-align:center;*/
}
#aside {
	/*text-align: center;*/
	font-size: 8pt;
}
.thumbnail {
	/*text-align: center;*/
	margin-top:-10px;
}
hr.rehearsal {
	width: 50%;
}
ul {
	list-style-position:inside;
}
.sidebar_item {
	margin-top: 16px;
	margin-bottom: 6px;
}
table {
	font-size: 100%;
}
