body
{
    text-align: center;
}


h1, h3, h4
{
    /*text-align: center;*/
}

h3
{
    color: #333333;
}


/* Making music resize graphic **/
img.mm
{
	height:66px;
	width: 78px;
    border:none;
}


.concert
{
	/*text-align: center;*/
	margin: 10px 0 20px 0;
}

.blurb
{
    margin-top: 4px;
    margin-bottom: 6px;
    font-size: 1.2em;

}

.concert_title
{
	color: #003366;
	font-size:large;
}

.date
{
	color:#000;
	font-size:medium;
}

.venue
{
	color:blue;
    margin-bottom: 10px;
}
.conductor
{
	font-style:italic;
    font-weight:bold;

    margin-top: 4px;
    margin-bottom: 15px;
}
.soloist
{
	font-weight:bold;
    margin-top: 4px;
    margin-bottom: 15px;
}

.items
{
	color: #006666;
    /*font-size: medium;*/
    font-size: 1.4em;
}

.author
{
    text-align:right;
    font-weight:bold;
}

.leader
{
    /*text-align: center;*/
    font-weight: bold;
    font-style: italic;
    font-size: medium;
}

.rehearsal
{
    font-weight: bold;
    /*text-align: center;*/
}
.rehearsal_detail
{
    font-weight: normal;
}

.rehearsal_date
{
    font-weight: bold;
}


.scoring
{
    font-style: italic;
    font-size: smaller;
}

.review
{
    margin-left: 20px;
}

.tickets
{
    /*text-align:center;*/
}

#aside
{
    /*text-align: center;*/
    font-size: 8pt;
}


.thumbnail
{
    /*text-align: center;*/
    margin-top:-10px;
  
}

hr.rehearsal
{
    width: 50%;
}

ul
{
    list-style-position:inside;
}

.sidebar_item
{
    margin-top: 16px;
    margin-bottom: 6px;
}