body {
	margin:0px;
	padding:0px;
	border:0px;		/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#fff;
	min-width:1200px;	/* Minimum width of layout - remove line if not required */
				/* The min-width property does not work in old versions of IE*/
	/*font-size:90%;*/
	font-family:arial,sans-serif;
	font-size:12px;
	color:#333;
}
a {
	color:#369;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0px;
}
p {
	margin:.4em 0 .8em 0;
	padding:0px;
}
img {
	margin:0px 0 5px;
}
#ads img {
	display:block;
	padding-top:10px;
}

/* Header styles */

#header {
	clear:both;
	float:left;
	width:100%;
	border-bottom:1px solid #000;
	background:#ffc;
}
#header p, #header h1, #header h2 {
	padding:.4em 15px 0 15px;
	margin:0px;
}
#header ul {
	/*clear:left;*/
	float:left;
	width:100%;
	list-style:none;
	margin:0px;
	padding:0px;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0px;
	padding:0px;
}
#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:center;
	background:#333;
	color:#fff;
	text-decoration:none;
	position:relative;
	left:0px;
	line-height:1.3em;
}
#header ul li a:hover {
	background:#903;
	color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#header ul li a span {
	display:block;
}

/* 'widths' sub menu */

#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}

/* column container */

.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;		/* width of whole page */
	overflow:hidden;	/* This chops off any overhanging divs */
}

/* common column settings */

.colright,
.colmid,
.colleft {
	float:left;
	width:100%;	/* width of page */
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;		/* no left and right padding on columns, */
	position:relative;	/* we just make them narrower instead only */
	padding:0 0 1em 0;	/* padding top and bottom is included here, */
	overflow:hidden;	/* make it whatever value you need */
}

/* 3 Column settings */

.threecol {
	background:#fff;	/* right column background colour */
}
.threecol .colmid {
	right:20%;		/* width of the right column */
	background:#fff;	/* center column background colour */
}
.threecol .colleft {
	right:55%;		/* width of the middle column */
	background:#fff;	/* left column background colour*/
}
.threecol .col1 {
	width:53%;		/* width of center column content (column width minus padding on either side) */
	left:101%;		/* 100% plus left padding of center column */
}
.threecol .col2 {
	width:23%;		/* Width of left column content (column width minus padding on either side) */
	left:23%;		/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
    margin-top: 20px;
}
.threecol .col3 {
	width:18%;		/* Width of right column content (column width minus padding on either side) */
	left:80%;		/* Please make note of the brackets here:*/
				/*(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}

/* Footer styles */

#footer {
	clear:both;
	float:left;
	width:95%;
	border-top:1px solid #000;
	text-align:right;
	padding:20px;
	font-family:arial,sans-serif;
	font-size:10pt;
	background:#fff;
}
#footer p {
	padding:10px;
	margin:0;
}
#footer_right {
	padding-top:3px;	
	padding-right:5px;
	float:right;
}
#footer_left {
	padding-top:3px;
	padding-left:10px;
	float:left;
}

