body {
	text-align:center;
}
h1 {
	color:midnightblue;
}
h2 {
	color:teal;
}
h3 {
	color:steelblue;
}
a {
	color:#369;
}
td {
        text-align:left;
}
ul {
	list-style-position:inside;
}
img {
	border:0;
}
img.artist {
	border:2px solid;
	height:280px;
	width:200px;
}
img.banner {
	height:112px;
	width:560px;
}
img.committee {
	height:240px;
	width:240px;
}
img.iaa {
	height:90px;
	width:165px;
}
img.mm {
	height:60px;
	width:113px;
}
img.poster {
	border:2px solid;
	height:594px;
	width:420px;
}
img.sm {
	height:45px;
	width:45px;
}
.concert {
	margin: 10px 0 20px 0;
}
.blurb {
	margin-top:4px;
	margin-bottom:6px;
	color:darkslategray;
	font-size:normal;
}
.concert_title {
	color:#003366;
	font-size:large;
}
.date {
	text-align:center;
	color:purple;
	font-size:medium;
	font-weight:bold;
	margin-bottom:10px;
}
.venue {
	text-align:center;
	text-decoration:none;
	color:teal;
	font-size:normal;
	font-weight:bold;
	margin-bottom:10px;
}
.rehearsal {
	text-align:center;
	color:#063;
	font-size:normal;
	font-style:italic;
	font-weight:normal;
}
.conductor {
	text-align:center;
	color:#033;
	font-style:italic;
	font-weight:bold;
}
.soloist {
	text-align:center;
	color:#033;
	font-style:italic;
	font-weight:bold;
}
.leader {
	text-align:center;
	color:#033;
	font-style:italic;
	font-weight:bold;
}
.caption {
	text-align:center;
	font-size:normal;
	font-style:italic;
	font-weight:bold;
}
.items {
	color: #066;
	font-size: 1.4em;
}
.work {
	text-align:left;
	color:darkslategray;
	font-weight:normal;
	font-size:medium;
}
.composer {
	text-align:right;
	color:darkslategray;
	font-weight:bold;
	font-size:medium;
}
.author {
	color:#789;
	font-weight:bold;
	text-align:right;
}
.duration {
	color:darkslategray;
	text-align:left;
	font-style:italic;
	font-size:small;
}
.scoring {
	color:darkslategray;
	text-align:left;
	font-style:italic;
	font-size:small;
}
.review {
	margin-left: 10px;
	margin-right: 10px;
}
.tickets {
	/*text-align:center;*/
}
#aside {
	/*text-align: center;*/
	font-size: 8pt;
}
.thumbnail {
	/*text-align: center;*/
	margin-top:-10px;
}
.sidebar_item {
	margin-top: 16px;
	margin-bottom: 6px;
}
table {
	font-size: 100%;
}
