body {
	text-align:center;
}
h1 {
	color:midnightblue;
	font-size:24px;
	font-weight:bold;
}
h2 {
	color:teal;
	font-size:18px;
	font-weight:bold;
}
h3 {
	color:steelblue;
	font-size:14px;
	font-weight:bold;
}
a {
	color:#369;
}
hr {
	margin-bottom:20px;
	margin-top:20px;
}
hr.normal {
	width:25%;
}
hr.narrow {
	width:10%;
}
table {
	margin-left:auto;
	margin-right:auto;
}
table.full {
	background-color:whitesmoke;
	border:1px solid silver;
	width:95%
}
table.narrow {
	background-color:white;
	border:none;
	width:60%
}
td {
        text-align:left;
}
ul {
	list-style-position:inside;
}
img {
	border:0;
}
img.artist {
	border:2px solid;
	height:280px;
	width:200px;
}
img.banner {
	height:112px;
	width:560px;
}
img.committee {
	height:240px;
	width:240px;
}
img.iaa {
	height:90px;
	width:165px;
}
img.mm {
	height:60px;
	width:113px;
}
img.poster {
	border:2px solid;
	height:594px;
	width:420px;
}
img.sm {
	height:45px;
	width:45px;
}
/*.concert {                   */
/*	margin: 10px 0 20px 0; */
/*}                            */
/*.concert_title {             */
/*	color:#003366;         */
/*	font-size:large;       */
/*}                            */
p {
	color:darkslategray;
}
p.blurb {
	font-size:12px;
}
p.tickets {
	font-size:13px;
}
.date {
	text-align:center;
	color:purple;
	font-size:16px;
	font-weight:bold;
}
.venue {
	text-align:center;
	color:darkgreen;
	font-size:14px;
	font-weight:bold;
}
.rehearsal {
	text-align:center;
	color:darkslategray;
	font-size:14px;
	font-style:italic;
}
.conductor {
	text-align:center;
	color:darkslategray;
	font-style:italic;
	font-weight:bold;
}
.soloist {
	text-align:center;
	color:darkslategray;
	font-style:italic;
	font-weight:bold;
}
.leader {
	text-align:center;
	color:darkslategray;
	font-style:italic;
	font-weight:bold;
}
.work {
	text-align:left;
	vertical-align:top;
	color:darkslategray;
	font-size:16px;
}
.work2 {
	text-align:left;
	vertical-align:top;
	color:darkslategray;
	font-size:16px;
	width:65%;
}
.composer {
	text-align:right;
	vertical-align:top;
	color:darkslategray;
	font-weight:bold;
	font-size:16px;
}
.composer2 {
	text-align:right;
	vertical-align:top;
	color:darkslategray;
	font-weight:bold;
	font-size:16px;
	width:35%;
}
.author {
	text-align:right;
	color:#789;
	font-weight:bold;
}
.duration {
	text-align:left;
	color:darkslategray;
	font-style:italic;
	font-size:14px;
}
.scoring {
	text-align:left;
	color:darkslategray;
	font-style:italic;
	font-size:14px;
}
#aside {
	/*text-align: center;*/
	font-size: 8pt;
}
.thumbnail {
	/*text-align: center;*/
	margin-top:-10px;
}
.sidebar_item {
	margin-top: 16px;
	margin-bottom: 6px;
}
table {
	font-size: 100%;
}
